.title {
  text-align: start;
}

.ingredients {
  width: 600px;
  height: 912px;
  flex-direction: column;
  display: flex;
  margin-right: 41px;
}

.content {
  display: flex;
  justify-content: center;
}

.constructor {
  width: 600px;
  height: 912px;
  flex-direction: column;
  display: flex;
}

.count {
  display: flex;
  flex-direction: row;
  justify-content: end;
  margin-top: 20px;
  height: 62px;
  margin-right: 15px;
}
