

.nav {
  align-self: start;
  max-width: 320px;
  min-width: 320px;
  margin-top: 121px;
}

.text {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #8585AD;
  opacity: 0.4;
}

.tab {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #8585AD;
  text-decoration: none;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.tab:hover {
  cursor: pointer;
  opacity: .7;
}

.active {
  color: #F2F2F3;
}
